<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="udacity.com.androidjokes">

    <application>
        <activity
            android:name=".JokeActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.udacity.gradle.builditbigger.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.udacity.gradle.builditbigger.MainActivity" />
        </activity>
    </application>

</manifest>